/* 
********************************
TABLET:
********************************
*/
@media (max-width: 1175px) {
  :root {
    /* Containers & Dimensions */
    --calculator-width: 38rem; /* 608px */
    --calculator-height: 50rem; /* 800px */
    --calculator-setup-width: 28.63rem; /* 458px */
    --calculator-summary-width: 28.63rem; /* 458px */
  }

  .wrapper {
    gap: var(--space-md-2);
  }

  .calculator {
    flex-direction: column;
    align-items: center;
    padding: 3rem 4.75rem; /* 48px 76px */
  }

  .calculator__setup {
    gap: var(--space-sm);
  }

  .calculator__summary {
    padding: 2.625rem 3rem; /* 42px 48px */
    height: 18.75rem; /* 300px */
  }

  .calculator__summary-content {
    gap: var(--space-2xs);
    margin-bottom: var(--space-xs);
  }
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 500px) {
  :root {
    /* Containers & Dimensions */
    --calculator-width: 100%;
    --calculator-height: 49.38rem; /* 790px */
    --calculator-setup-width: 20.5rem; /* 328px */
    --calculator-summary-width: 20.5rem; /* 328px */
  }

  .header__logo {
    margin-top: 3.125rem; /* 50px */
  }

  .calculator {
    padding: 2rem 1.5rem; /* 32px 24px */
  }

  .calculator__setup {
    gap: var(--space-md);
    margin-bottom: var(--space-md);
  }

  .calculator__tip-inputs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .calculator__summary {
    height: 16.13rem; /* 258px */
    padding: var(--space-sm);
  }

  .calculator__summary-content {
    gap: var(--space-md);
    margin-bottom: var(--space-md);
  }

  .calculator__summary-value {
    font-size: var(--fs-lg);
  }

  .attribution {
    margin: var(--space-xs) var(--space-md);
  }
}
