/* 
********************************
TABLET:
********************************
*/
@media (max-width: 1175px) {
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 640px) {
}
