/* 
********************************
TABLET:
********************************
*/
@media (max-width: 1175px) {
  :root {
    /* Containers & Dimensions */
    --calculator-width: 608px; /* 608px */
    --calculator-height: 800px; /* 800px */
    --calculator-setup-width: 457px; /* 457px */
    --calculator-summary-width: 457px; /* 457px */
  }
  .wrapper {
    gap: var(--space-md-2);
  }
  .calculator {
    flex-direction: column;
    align-items: center;
    padding: 48px 75px;

    /* justify-content: start; */
    /* gap: var(--space-md-2); */
  }

  .calculator__setup {
    gap: var(--space-sm);
  }

  .calculator__summary {
    padding: 42px 47px;
    height: 300px;
  }

  .calculator__summary-content {
    gap: var(--space-2xs);
    margin-bottom: var(--space-xs);
  }
}

/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 640px) {
}
