:root {
  /* Colors: */
  --clr-grey-600: #3d6666;
  --clr-grey-550: #547878;
  --clr-grey-500: #5e7a7d;
  --clr-grey-400: #7f9d9f;
  --clr-grey-300: #9ebbbd;
  --clr-grey-200: #c5e4e7;
  --clr-grey-50: #f3f9fa;
  --clr-green-900: #00474b;
  --clr-green-800: #085c61;
  --clr-green-750: #0d686d;
  --clr-green-400: #26c2ae;
  --clr-green-200: #9fe8df;
  --clr-orange-400: #e17052;

  /* Semantic colors */
  --clr-attribution: #3e52a3;

  /* Font sizes (in rem) */
  --fs-2xs: 0.8125rem; /* 13px */
  --fs-xs: 1rem; /* 16px */
  --fs-sm: 1.25rem; /* 20px */
  --fs-md: 1.5rem; /* 24px */
  --fs-lg: 2rem; /* 32px */
  --fs-xl: 3rem; /* 48px */

  /* Containers & Dimensions */
  --calculator-width: 57.5rem; /* 920px */
  --calculator-height: 30rem; /* 480px */

  /* Spacing scale (rem) */
  --space-2xs: 0.5rem; /* 8px */
  --space-xs: 1rem; /* 16px */
  --space-sm: 1.5rem; /* 24px */
  --space-md: 2rem; /* 32px */
  --space-lg: 3rem; /* 48px */
  --space-xl: 5rem; /* 80px */
  --space-2xl: 6rem; /* 96px */
  --space-3xl: 7.5rem; /* 120px */
  --space-4xl: 8rem; /* 128px */

  /* Border-radius scale */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.875rem; /* 14px */
  --radius-lg: 1.5rem; /* 24px */
  --radius-circle: 50%; /* circular elements */

  /* Line heights */
  --lh-base: 1.5;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

/* STATIC FONT: */
@font-face {
  font-family: 'Space Mono';
  src: url('/assets/fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('/assets/fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Space Mono', sans-serif;
  font-size: var(--fs-xs);
  font-weight: bold;
  line-height: var(--lh-base);
  letter-spacing: 0;

  color: var(--clr-grey-500);
  background-color: var(--clr-grey-200);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  margin-bottom: 87.86px;
}

.header__logo {
}

.calculator {
  display: flex;
  justify-content: space-between;
  max-width: var(--calculator-width);
  width: 100%;
  height: var(--calculator-height);
  padding: var(--space-md) 40px;
  background-color: white;
  border-radius: var(--radius-lg);
}

.calculator__setup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  width: 380px;
}

.calculator__setup-group {
}

.calculator__setup-title {
  display: block;
  margin-bottom: 8px;
}

.calculator__input {
  width: 100%;
  height: 48px;
  color: var(--clr-green-900);
  background-color: var(--clr-grey-50);
  border: none;
  border-radius: var(--radius-sm);

  font-size: var(--fs-md);

  /* Input icon */
  background-image: url('/assets/images/icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: left 18px center;
  text-align: right;
  padding-right: 18px;

  /* Remove the input arrows */
  /* Firefox */
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge */
.calculator__input::-webkit-outer-spin-button,
.calculator__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator__tip-buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.calculator__tip-option {
  width: 100%;
  height: 48px;
  font-size: var(--fs-md);
  border: none;
  border-radius: var(--radius-sm);

  color: white;
  background-color: var(--clr-green-900);
}

.calculator__tip-option--selected {
  color: var(--clr-green-900);
  background-color: var(--clr-green-400);
}

.calculator__tip-option--custom {
  color: var(--clr-grey-550);
  background-color: var(--clr-grey-50);
}

.calculator__summary {
  width: 413px;
  padding: 36px 32px;
  background-color: var(--clr-green-900);
  border-radius: var(--radius-md);
}

.calculator__summary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 24px;
  height: 166px;
  margin-bottom: 128px;
}

.calculator__summary-item {
  display: flex;
  justify-content: space-between;
}

.calculator__summary-title {
  color: white;
}

.calculator__summary-title--sub {
  display: block;
  font-size: var(--fs-2xs);
  color: var(--clr-grey-400);
}
.calculator__summary-value {
  font-size: var(--fs-xl);
  color: var(--clr-green-400);
}

.calculator__reset {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--radius-sm);

  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--clr-green-900);
  background-color: var(--clr-green-400);
}

/* 
********************************
FOOTER:
********************************
*/
.attribution {
  bottom: 0;
  text-align: center;
  margin-bottom: var(--space-xl);

  font-size: var(--fs-xs);
  color: var(--clr-attribution);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--clr-attribution);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--clr-attribution);
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  opacity: 0.75;
}

/* 
********************************
UTILITY CLASSES:
********************************
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
